/* A CHANGER - N'UTILISE PAS LE MEME BACKGROUND!!!! */

body {
background: hsla(197, 14%, 57%, 1);
background: linear-gradient(90deg, hsla(197, 14%, 57%, 1) 0%, hsla(192, 17%, 94%, 1) 100%);
background: -moz-linear-gradient(90deg, hsla(197, 14%, 57%, 1) 0%, hsla(192, 17%, 94%, 1) 100%);
background: -webkit-linear-gradient(90deg, hsla(197, 14%, 57%, 1) 0%, hsla(192, 17%, 94%, 1) 100%);
background-repeat: repeat-x;
height: 200vh;
}